/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

#editor .wp-block {
	max-width: unset;
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	@if $min {
		$min: $min + 280px;
		@media (min-width: $min) {
			#editor {
				@content;

				@if $name == sm or $name == md {
					.editor-styles-wrapper[style*="width: 780px;"] {
						@content;
					}
				}
			}
		}
	} @else {
		#editor {
			@content;

			.editor-styles-wrapper[style*="width: 360px;"],
			.editor-styles-wrapper[style*="width: 780px;"] {
				@content;
			}
		}
	}
}

@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities/flex";

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.justify-content#{$infix}-evenly {
			justify-content: space-evenly !important;
		}
	}
}

@each $breakpoint in map-keys($grid-breakpoints) {
	$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
	@include media-breakpoint-up($breakpoint) {
		.hide#{$infix},
		.hide#{$infix}-up {
			display: none !important;
		}
	}
	@include media-breakpoint-down($breakpoint) {
		.hide#{$infix}-down {
			display: none !important;
		}
	}
	@include media-breakpoint-only($breakpoint) {
		.hide#{$infix}-only {
			display: none !important;
		}
	}
}

#editor .w-100 {
	width: 100% !important;
}

.gutestrap-block {
	&-container,
	&-col {
		&.block-editor-block-list__block {
			margin-top: unset;
			margin-bottom: unset;
		}

		.block-editor-block-list__layout & {
			margin-left: unset;
			margin-right: unset;
		}
	}

	&-col {
		border: thin dashed transparent;
		display: flex;

		> .wp-block-gutestrap-col {
			width: 100%;
			align-self: stretch;
		}

		&.has-child-selected,
		&.is-selected,
		&.is-hovered {
			// &.is-hovered,
			// &:hover {
			border-color: gray;
		}

		&-inner-blocks {
			> .block-list-appender:not(:first-child) {
				margin: 0;
			}
		}
	}

	&-row.is-selected > div > div > &-col {
		border-color: gray;
	}

	&-row-break {
		@include make-col-ready;
	}

	&.-is-disabled {
		opacity: 0.5;
		filter: grayscale(0.25);
		// border: thin dashed gray;
	}
}

.wp-block-gutestrap {
	&-col {
		& > div > div > * {
			&:first-child:not(:last-child) {
				margin-top: 0;
			}
			&:nth-last-child(2) {
				margin-bottom: 0;
			}
		}
	}

	&-row {
		> .block-list-appender {
			margin-left: $grid-gutter-width / 2;
			width: 100%;
			pointer-events: none;
			> * {
				width: fit-content;
				pointer-events: auto;
			}
		}
	}

	&-row-break {
		font-size: 1.5rem;
		color: grey;
		display: flex;
		align-items: center;

		&::before,
		&::after {
			content: "";
			display: block;
			border: 0;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #fafafa;
			flex: 1 1 0;
		}

		svg {
			margin: 0 0.25em;
			display: block;
		}
	}
}
