/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);
		.justify-content#{$infix}-evenly {
			justify-content: space-evenly !important;
		}
	}
}

.w-100 {
	width: 100% !important;
}
