.bi {
	&-block-control-icon {
		font-size: 1.25rem;
		flex: 0 0 auto;
	}
}

.components-dropdown-menu__popover.popover-align-text-start {
	.components-dropdown-menu__menu > button {
		text-align: left;
		text-align: start;
	}
}
