/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

@import "./vars";

$admin-color: var(--wp-admin-theme-color);
$admin-color-fallback: #007cba;

.wp-block-cover,
.wp-block-cover-image {
	min-height: unset;
}
