/**
 * #.# Variables
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$grid-breakpoints: (
	xs: 0,
	// sm: 576px,
	sm: 36em,
	// md: 768px,
	md: 48em,
	// lg: 992px,
	lg: 62em,
	// xl: 1200px,
	xl: 75em,
	// xxl: 1420px,
	xxl: 88.75em,
	// xxxl: 1680px,
	xxxl: 105em,
	// xxxxl: 1900px,
	xxxxl: 118.75em,
);

$container-max-widths: (
	// sm: 540px,
	sm: 33.75rem,
	// md: 720px,
	md: 45rem,
	// lg: 960px,
	lg: 60rem,
	// xl: 1140px,
	xl: 71.25rem,
	// xxl: 1320px,
	xxl: 82.5rem,
	// xxxl: 1440px,
	xxxl: 90rem,
	// xxxxl: 1740px,
	xxxxl: 108.75rem,
);

$grid-columns: 12;
$grid-gutter-width: 1.875rem;
$grid-row-columns: 6;
$prefix: gs-;

// 👇 not used, just defined here to make Bootstrap happy
$gutters: ();
$negative-spacers: ();
$utilities-border-colors: ();
$utilities-text-colors: ();
$utilities-bg-colors: ();
