@use "func";

/**
 * #.# Variables
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$grid-breakpoints-raw: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1420px,
	xxxl: 1680px,
	xxxxl: 1900px,
	5xl: 2560px,
	6xl: 3840px,
);

$grid-breakpoints: (
	xs: 0,
	sm: func.px-to-em(576px),
	md: func.px-to-em(768px),
	lg: func.px-to-em(992px),
	xl: func.px-to-em(1200px),
	xxl: func.px-to-em(1420px),
	xxxl: func.px-to-em(1680px),
	xxxxl: func.px-to-em(1900px),
	5xl: func.px-to-em(2560px),
	6xl: func.px-to-em(3840px),
);

$container-max-widths: (
	sm: func.px-to-rem(540px),
	md: func.px-to-rem(720px),
	lg: func.px-to-rem(960px),
	xl: func.px-to-rem(1140px),
	xxl: func.px-to-rem(1320px),
	xxxl: func.px-to-rem(1440px),
	xxxxl: func.px-to-rem(1740px),
	5xl: func.px-to-rem(2340px),
	6xl: func.px-to-rem(3600px),
);

$grid-columns: 12;
$grid-gutter-width: 1.875rem;

$grid-row-columns: 0;
$prefix: gs-;

// 👇 not used, just defined here to make Bootstrap happy
$gutters: ();
$negative-spacers: ();
$utilities-border-colors: ();
$utilities-text-colors: ();
$utilities-bg-colors: ();
