/**
 * #.# Variables
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1420px,
	xxxl: 1680px,
	xxxxl: 1900px,
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
	xxxl: 1440px,
	xxxxl: 1740px,
);

$grid-columns: 12;
$grid-gutter-width: 1.875rem;
$grid-row-columns: 6;
$prefix: gs-;

// 👇 not used, just defined here to make Bootstrap happy
$gutters: ();
$negative-spacers: ();
$utilities-border-colors: ();
$utilities-text-colors: ();
$utilities-bg-colors: ();
